<div class="jumbotron text-center">
	<h1>Wishlist</h1>
</div>

<div align="center">
	<form id="rendered-form">
		<div class="rendered-form">
			<div class="fb-text form-group ">
				<label for="searchTerm" class="fb-text-label">Insert a valid ID to search from your wishlist</label>
				<input type="text" placeholder="Enter one id to search for" ng-model="postId" class="form-control" name="searchTerm" id="searchTerm" style="width:400px !important;">
			</div>
			<div class="fb-button form-group field-button-1512056212414">
				<button type="button" class="btn btn-warning" ng-click="retrieveItemInWishlist(postId)">Search</button>
			</div>
		</div>
	</form>
</div>

<div align="center">

	<table class="blueTable" ng-if="items">
		<thead>
			<tr>
				<th>Id</th>
				<th>Product</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="i in items">
				<td align="center">{{i.id}}</td>
				<td align="center"><img ng-src="{{i.image}}" /></td>
				<td align="center"><a href="#" ng-click="removeItem(i.id)" prevent-default><img src="/assets/img/remove.png" /></a></td>
			</tr>
		</tbody>
	</table>
</div>